body{
    margin:0;
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(135deg, #0f172a, #1e293b);
    color: white;
}

/* HEADER */
header{
    display:flex;
    justify-content: space-between;
    align-items: center;

    background: rgba(0,0,0,0.4);
    backdrop-filter: blur(10px);

    padding:15px 30px;
    border-bottom:1px solid rgba(255,255,255,0.1);
}

h1{
    margin:0;
    font-size:28px;
    color:#38bdf8;
}

nav a{
    margin-left:20px;
    text-decoration:none;
    color:white;
    font-weight:bold;
    transition:0.3s;
}

nav a:hover{
    color:#38bdf8;
}

/* AREA DO JOGO */
.game-area{
    display:flex;
    gap:40px;
    padding:30px 50px; /* DIMINUI o espaço de cima */
    align-items:flex-start; /* joga conteúdo mais pra cima */
}

/* IMAGEM */
.game-cover img {
    width:100%;
    max-width:400px;
    border-radius:15px;
    box-shadow:0 0 30px rgba(56,189,248,0.6);
    transition:0.4s;
}

.game-cover img:hover{
    transform: scale(1.05);
}

/* INFO */
.game-info{
    max-width:600px;
    margin-top:0;
}

.game-info h2{
    font-size:32px;
    margin-bottom:20px;
    color:#facc15;
}

.game-info ul{
    list-style:none;
    padding:0;
}

.game-info li{
    margin-bottom:15px;
    font-size:18px;
}

/* BOTÃO */
.buy-area{
    text-align:center;
    margin:10px 0 30px 0; /* diminui espaço de cima */
}

.buy-button{
    padding:18px 50px;
    font-size:22px;
    font-weight:bold;

    background: linear-gradient(45deg, #facc15, #f97316);
    color:black;

    border:none;
    border-radius:12px;
    cursor:pointer;

    box-shadow:0 0 20px rgba(250,204,21,0.6);
    transition:0.3s;
}

.buy-button:hover{
    transform: scale(1.1);
    box-shadow:0 0 30px rgba(249,115,22,0.9);
}

/* SOBRE */
.more-info{
    padding:40px;
    max-width:900px;
    margin:auto;
    text-align:center;
}

.more-info h2{
    color:#38bdf8;
}

/* FOOTER */
footer{
    background:#020617;
    padding:30px;
    margin-top:40px;
}

.footer-content{
    display:flex;
    justify-content:space-between;
    flex-wrap:wrap;
}

.footer-content div{
    margin:10px;
}

footer h3{
    color:#38bdf8;
}

footer p{
    font-size:14px;
    color:#cbd5f5;
}